<html>
<body [ngClass]="{'loaded': val === 1}">
<div id="loader-wrapper" >
  <div id="background"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class = "bkgr-overlay">
<h2 align="center" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">Welcome to the Stock Market Prediction GUI</h2>
<p class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">This has been coded on Angular 5.0. As I plan to show how the visualization looks on a GUI I am writing this on Angular.
  Once I am done with the predictive analysis and the predictive model, I will implement that in a web framework such as Django on the back end and all the computation will happen on the backend. Right now we are using Django to compute and get the
  stock market's data. All the Data has then been converted to a JSON file to be retrieved by angular. All of the work has then been used as an API for Angular to display the content.</p>

<h3 align="center" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> LET'S BEGIN </h3>

<p style="font-weight: bold" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">Investment Limit: </p>
<div>
  <input name = "form_input" class="form-control col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" style="display: inline-block;width: 200px;" type="number" [(ngModel)]="investment_limit" required>
  <button class="btn btn-success col-xs-3 col-sm-2 col-sm-offset-15 col-md-offset-1" style="display: inline-block" routerLink="/list" (click)="onSave()">Use this as limit</button>
</div>
<!--<button class ="btn btn-default" (click)="onSave()">Connect to Server!</button>-->
</div>
</body>
</html>
