<script src="https://d3js.org/d3.v4.min.js"></script>
<div xmlns="" xmlns="">
  <div class="list-group">
    <a class="list-group-item"
    *ngFor="let company_name of company_names; let i = index"
    (click)="show_stockprice(i)">
      {{company_name}}
    </a>
  </div>
</div>
<p>The current Stock Price of the company as of today is: {{show_current_stock_closing_price}} USD</p>
<!--<p>Date: {{ show_current_date}}</p>-->
<p>Open: {{show_current_stock_opening_price}}</p>
<p>High: {{show_current_stock_highest_price}}</p>
<p>Low: {{show_current_stock_lowest_price}}</p>
<p>Close: {{show_current_stock_closing_price}}</p>
<p>Volume: {{show_current_stock_volume}}</p>
<p>Path_intraday: {{show_current_stock_intraday}}</p>

<div class="col-sm-15">
  <h4>Sector Performance Graph: </h4>
  <img *ngIf="show_current_stock_sector != ''" [src] = "show_current_stock_sector" width="110%" height="25%"/>
  <!-- <img src="assets/sector_performance.png" /> -->
</div>
<div class="col-sm-15">
  <h4>Intraday Graph: </h4>
  <img *ngIf="show_current_stock_intraday != ''" [src] = "show_current_stock_intraday" width="110%" height="25%" />
  <!--<img src={{show_current_stock_intraday}}>-->
</div>
<div class="col-sm-15">
  <h4>Daily Graph: </h4>
  <img [src] = "show_current_stock_daily" width="110%" height="25%" />
  <!--<img src={{show_current_stock_daily}}>-->
</div>
<script>
  d3.selectAll('h4').style('color', 'green');
</script>

